 .site-content {
   padding: 1em;
   @media #{$large-desktop} {
     padding: 2em;
   }
 }

 .header-graphic {
     background-size: cover!important;
     background-position: 100%!important;
     height: 40vh;
     margin: -2em -2em 0em;
 }
