 .site-content {
   padding: 1em;
   @media #{$large-desktop} {
     padding: 2em;
   }
 }

.site-main {
    min-height: 100vh;
}

 .header-graphic {
     background-size: cover!important;
     background-position: 100%!important;
     height: 60vh;
     opacity: 1;
     margin: -2em -2em 0em;
 }
