body,
button,
input,
select,
optgroup,
textarea {
	color: $color__text-main;
	font-family: $font__roboto;
	@include font-size(1);
	@media #{$tablet} {
		@include font-size(0.8);
	}
	line-height: $font__line-height-body;
}

@import "headings";

@import "copy";
