.single-series {
    .series-graphic {
        background-size: cover!important;
        background-position: 100%!important;
        height: 60vh;
        margin: -2em -2em 0em;
    }
    .series {
        .series-title {
            text-transform: uppercase;
            font-size: 2em;
            a {
                text-decoration: none;
                position: relative;
                z-index: 2;
            }
        }        
    }
}
